extends layout

block content
  header.header
    h1.header-title=header
    p.header-description A little bit about myself
    a.button.button-error.button-round(href="/") Home

  main.main
    .section
      h1.section-title The Past
      p.section-description As far as I can remember, I've always had an interest with anything related to computers. Some of my fondest memories consisted of staying up late into the night playing games with friends, whether it be on console or the computer. Besides entertainment, I started editing photos and creating forum signatures with an old program called PhotoFiltre during middle school. This sparked my passion for creating digital media. However, it wasn't until late into highschool that I took the courses ICT 11: Programming and ICT 12: Game Design. I built simple programs such as a calculator in Visual Basic and a role playing game in Python.
    .section
      h1.section-title The Present
      p.section-description After graduating from high school, I enrolled in Computer Information Systems Administration at the British Columbia Institute of Technology. After realizing that networking and hardware was not for me, I transfered into Digital Design and Development to pursue website development. Overall, I've learned a great deal in website and website application development, the Adobe Creative Cloud suite, and the marketing aspect of the web. If I had to modify the program, I would replace some of the business courses such as Critical Thinking and Ethics with more programming courses. Obviously, I'm biased towards programming. However, I wish we had more time to learn advanced JavaScript and build more projects with React.
    .section
      h1.section-title The Future
      p.section-description After graduating from the British Columbia Institute of Technology, I hope to continue learning website development. More specifically, I want to continue practicing Node and become familiar with its many server-side modules. There's something greatly satisfying about full-stack development, and that's creating every aspect of a website or website application that others can see and use. The caveat to this field is that I often feel like I'm on a peak, and there's this daunting valley of things I don't understand. However, I've made noticeable progress in the past two years and there's no reason I can't keep going.
