extends layout

block content
  header.header
    h1.header-title=header
    a.button.button-error.button-round(href="/") Home

  main.main
    .section
      h1.section-title Lorem ipsum
      p.section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut tristique diam, eget placerat risus. Nam enim nulla, efficitur eget sem ac, suscipit egestas felis. Suspendisse potenti. Etiam facilisis tortor molestie massa mollis, elementum blandit dolor aliquet. Nunc gravida, odio sed tristique ornare, magna justo posuere risus, ac scelerisque ante orci at tellus. Maecenas tristique mattis nulla, nec placerat metus ullamcorper non. Sed enim velit, elementum sit amet sem at, ultricies vestibulum quam. Curabitur sollicitudin ipsum arcu. Praesent sit amet consequat sem, sit amet mollis sem. Phasellus mollis nibh in fermentum mollis. Phasellus sodales dictum sem, sit amet ullamcorper ipsum tempor quis. Quisque odio lectus, rutrum eu commodo quis, sagittis at leo. Integer porttitor mi in velit sagittis aliquam. Duis lacinia nisl elementum, volutpat justo ac, posuere nunc.
    .section
      h1.section-title Lorem ipsum
      p.section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut tristique diam, eget placerat risus. Nam enim nulla, efficitur eget sem ac, suscipit egestas felis. Suspendisse potenti. Etiam facilisis tortor molestie massa mollis, elementum blandit dolor aliquet. Nunc gravida, odio sed tristique ornare, magna justo posuere risus, ac scelerisque ante orci at tellus. Maecenas tristique mattis nulla, nec placerat metus ullamcorper non. Sed enim velit, elementum sit amet sem at, ultricies vestibulum quam. Curabitur sollicitudin ipsum arcu. Praesent sit amet consequat sem, sit amet mollis sem. Phasellus mollis nibh in fermentum mollis. Phasellus sodales dictum sem, sit amet ullamcorper ipsum tempor quis. Quisque odio lectus, rutrum eu commodo quis, sagittis at leo. Integer porttitor mi in velit sagittis aliquam. Duis lacinia nisl elementum, volutpat justo ac, posuere nunc.
    .section
      h1.section-title Lorem ipsum
      p.section-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut tristique diam, eget placerat risus. Nam enim nulla, efficitur eget sem ac, suscipit egestas felis. Suspendisse potenti. Etiam facilisis tortor molestie massa mollis, elementum blandit dolor aliquet. Nunc gravida, odio sed tristique ornare, magna justo posuere risus, ac scelerisque ante orci at tellus. Maecenas tristique mattis nulla, nec placerat metus ullamcorper non. Sed enim velit, elementum sit amet sem at, ultricies vestibulum quam. Curabitur sollicitudin ipsum arcu. Praesent sit amet consequat sem, sit amet mollis sem. Phasellus mollis nibh in fermentum mollis. Phasellus sodales dictum sem, sit amet ullamcorper ipsum tempor quis. Quisque odio lectus, rutrum eu commodo quis, sagittis at leo. Integer porttitor mi in velit sagittis aliquam. Duis lacinia nisl elementum, volutpat justo ac, posuere nunc.
