footer.footer
  ul.footer-list
    li.footer-list-item
      a.footer-list-link(href='/')
        svg.footer-list-icon
          use(xlink:href='sprites/brands.svg#github')
    li.footer-list-item
      a.footer-list-link(href='/')
        svg.footer-list-icon
          use(xlink:href='sprites/brands.svg#codepen')
    li.footer-list-item
      a.footer-list-link(href='/')
        svg.footer-list-icon
          use(xlink:href='sprites/brands.svg#linkedin')
