extends layout

block content
  header.header
    h1.header-title=header
    a.button.button-error.button-round(href="#") Work

  main.main
    .main-cards
      - var cards = [{title: "Chat", description: "Lorem ipsum dolor sit amet. Morbi viverra, ipsum congue laoreet iaculis."}, {title: "Chat", description: "Lorem ipsum dolor sit amet. Morbi viverra, ipsum congue laoreet iaculis."}, {title: "Chat", description: "Lorem ipsum dolor sit amet. Morbi viverra, ipsum congue laoreet iaculis."}]
      each card in cards
        .card
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 480 320')
            rect(width='480', height='320', style='fill:#cf6c63')
          .card-content
            .card-title=card.title
            .card-description=card.description
            a.card-anchor(href="#") Learn more
