doctype html
html

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Lato:400,700')
    link(rel='stylesheet' href='css/style.css')

  body
    .grid
      include navbar
      block content
      include footer
    script(src='js/vue.min.js')
    script(src='js/app.js')
