nav.nav
  ul.nav-list
    li.nav-list-item
      a.nav-list-link(href='/') Home
    li.nav-list-item
      a.nav-list-link(href='/about') About
    li.nav-list-item
      a.nav-list-link(href='/work') Work
