$color-primary: #403d58;
$color-secondary: #cf6c63;
$color-white: #f2f2f2;
$color-black: #585858;

$font-serif: Cambria, serif;
$font-sans-serif: "Lato", sans-serif;

$break-sm: 40rem;
$break-md: 60rem;
$break-lg: 80rem;
