.card {
  background: lighten($color-white, 10%);
  box-shadow: 0 1rem 1rem 0 rgba(14, 18, 25, .03);
  transition: box-shadow 0.2s;
  @include flex(column, null, null);

  &-content {
    padding: 2rem;
  }

  &-image {
    max-width: 100%;
  }

  &-description,
  &-title {
    margin-bottom: 1rem;
  }

  &-title {
    font: 700 1.5rem $font-sans-serif;
  }

  &-description {
    font: 400 1.125rem/2 $font-serif;
  }

  &-anchor {
    color: $color-secondary;
    position: relative;
    transition: color 0.5s cubic-bezier(.3, 1, .3, 1);
    z-index: 1;

    &:focus,
    &:hover {
      &::before {
        transform: scale3d(1, 1, 1);
      }
    }

    &::before {
      @include highlight($color-secondary);
    }
  }
}
