.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: minmax(5rem, auto) 30rem 1fr minmax(5rem, auto);
  min-height: 100vh;
}

.nav {
  grid-column: span 8;
  background: $color-primary;
  padding: 0 2rem;
  @include flex(initial, flex-end, center);

  &-list {
    display: flex;
    @media (max-width: $break-sm) {
      display: none;
    }
  }

  &-list-link {
    color: $color-white;

    &:hover {
      color: $color-secondary;
    }
  }

  &-list-item:not(:last-child) {
    margin-right: 2rem;
  }

  &-dropdown {
    display: block;
    position: absolute;
    top: 2rem;
    right: 0;
    background: lighten($color-white, 10%);
    border-radius: 0.25rem;
    color: $color-black;
    padding: 1rem;
    width: 220px;
    opacity: 0;
    transform: scale(0);
    transform-origin: right top;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    z-index: 1;
  }

  &-dropdown-item {
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  .show {
    transform: none;
    opacity: 1;
    pointer-events: auto;
  }
}

.header {
  grid-column: span 8;
  background: $color-primary;
  color: $color-white;
  padding: 0 2rem;
  @include flex(column, center, center);

  &-description,
  &-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &-title {
    font: 700 4rem/100% $font-sans-serif;
    letter-spacing: 0.25rem;
    text-transform: lowercase;
  }

  &-description {
    font: 400 1.25rem/100% $font-sans-serif;
    opacity: 0.7;
  }
}

.main {
  grid-column: 2/8;
  padding: 4rem 0;
  @media (max-width: $break-md) {
    grid-column: span 8;
    padding: 4rem 2rem;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
    @media (max-width: $break-md) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $break-sm) {
      grid-template-columns: 1fr;
    }
  }
}

.section {
  margin-bottom: 2rem;

  &-title {
    font: 700 2rem/1 $font-serif, sans-serif;
    margin-bottom: 1rem;
  }

  &-description {
    font: 400 1.25rem/2.5 $font-serif, serif;
  }
}

.footer {
  grid-column: span 8;
  background: $color-primary;
  padding: 0 2rem;
  @include flex(initial, center, center);

  &-list {
    display: flex;
    height: 2rem;
  }

  &-list-item:not(:last-child) {
    margin-right: 2rem;
  }

  &-list-link {
    display: block;
    height: 2rem;
  }

  &-list-icon {
    fill: $color-secondary;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-0.125rem);
    }
  }
}
